@use '@skyscanner/backpack-web/bpk-mixins/breakpoints';
@use '@skyscanner/backpack-web/bpk-mixins/shadows';
@use '@skyscanner/backpack-web/bpk-mixins/tokens';

@mixin container {
  max-width: tokens.$bpk-breakpoint-desktop;
  margin: 0 auto;
}

.App {
  text-align: center;

  &__header {
    padding: tokens.bpk-spacing-lg() * 2;
    background-color: tokens.$bpk-color-sky-blue;
    background-image: tokens.$bpk-primary-gradient;
    color: tokens.$bpk-color-white;

    @include shadows.bpk-box-shadow-sm;

    @include breakpoints.bpk-breakpoint-mobile {
      padding: tokens.bpk-spacing-xl();
    }
  }

  &__header-inner {
    @include container;
  }

  &__main {
    padding: tokens.bpk-spacing-xxl();

    @include container;

    @include breakpoints.bpk-breakpoint-mobile {
      padding: tokens.bpk-spacing-base();
    }
  }

  &__heading {
    margin-bottom: tokens.bpk-spacing-sm();
  }

  &__text {
    margin-bottom: tokens.bpk-spacing-sm();
  }
}